@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Luckiest+Guy&family=Roboto:wght@500&display=swap');
.App{
	margin:0 auto;
	max-width:1080px;
	display:flex;
	flex-direction:column;
}

.map{
	margin:20px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button a{
	text-align:center;
	color:Black;
	color:#53C1FF;
	margin:0 20px;
	text-decoration:none;
}

.buttonWrapper{
	display:flex;
	flex-direction:row;
	margin:20px;
	background-color:#F6F6F6;
	justify-content:space-evenly;
	align-items:center;
	width:1000px;
	height:40px;

}

.header{
	display:flex;
	flex-direction:row;
	margin:20px;
	justify-content:center;
	background-color: red;
	flex-wrap:wrap;
}

.header a{
	color:black;
	font-size:40px;
	font-family: 'Bowlby One SC', cursive;
	max-width:1080px;
}

.header a:hover{
	color:white;
}

.header_text{
	display:flex;
	flex-direction:row;
	
	margin:20px;
}

.headerLink{
	margin: auto 20px;
	color:#53C1FF;
	text-transform:uppercase;
}

.text{
	display:flex;
	flex-direction:column;
}

.main{
	display:flex;
	flex-direction:row;
	margin: 0 auto;
	max-width:1080px;
}

.description{
	font-size:48px;
	text-align:center;
	margin:20px;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
}

.description strong{
	text-shadow:2px 2px #ff0000;
}