@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Luckiest+Guy&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap');
.App{
	margin:0 auto;
	max-width:1080px;
	display:flex;
	flex-direction:column;
}


.button a{
	text-align:center;
	color:Black;
	color:#53C1FF;
	margin:0 20px;
	text-decoration:none;
}

.header{
	display:flex;
	flex-direction:column;
	margin:20px;
	justify-content:center;
	background-color: red;
}

.header a{
	color:black;
	font-size:20px;
	font-family: 'Bowlby One SC', cursive;
	max-width:1080px;
	line-height:20px;
}

.header h1{
	color:black;
	font-size:40px;
	font-family: 'Bowlby One SC', cursive;
	max-width:1080px;
	line-height:20px;
}

.header a:hover{
	color:white;
	text-shadow:2px 2px #000000;
}

.main{
	display:flex;
	flex-direction:row;
	margin: 0 auto;
	max-width:1080px;
	justify-items:center;
	align-items:flex-start;
}

.description{
	font-size:40px;
	text-align:left;
	margin:20px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	margin:10px 30px;
	line-height:45px;
}

.images{
	margin:10px auto;
}

.description strong{
	text-shadow:2px 2px #ff0000;
}

.year{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	margin:-15px 0;
}

.year:hover{
	margin:10px 0;
	background-color:#ff665e;
}